.maintop{
    width: 100%;
    height: 64px;
}

body{
    background-color: rgb(248, 249, 250);
    margin: 0px;
    width: 100%;
    height: 100%;
    
}

.header{
    margin: 0px 71.6px;
    height: 100%;
    display: flex;
    width: 1376px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-top: 20px;
    width: 71px;
    height: 24px;
    display: flex;
    
}

.headerrig{
    display: flex;
    box-sizing: inherit;
}

.buttonnew{
    width: 110px;
    height: 32px;
    border: solid black 0.5px;
    border-radius: 23px;
    font-weight: bold;
    background: white;
    outline: 0px;
    transition: 0.2s;
}

.buttonnew:hover{
    background: rgb(52, 58, 64);
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.menu{
    width: 1376px;
    height: 48px;
    margin-top: 24px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}
.menu div{
    display: flex;
}

.itembox{
    margin-left: 35px;
    margin-top: 30px;
    width: 300px;
    height: 350px;
    border-radius: 4px;
    overflow: hidden;
    background: white;
    transition: 0.5s;
}

.itembox img{
    width: 320px;
    height: 167px;
    
}

.itembox:hover{
    cursor: pointer;
    margin-top: 15px;
    transition: 0.5s;
}

.textbox{
    width: 288px;
    height: 132px;
    padding: 16px;
}

.textbox h4{
    margin: 0px;
}