.main-background{
    background-image: url(cloth.jpg);
    background-size: cover;
}

.white-background{
    background: white;
    position: fixed;
    width: 80%;
    margin: 100px;
    padding: 20px;
    border-radius: 10px;
    display: none;
}
